body {
  font-family: 'Open Sans', sans-serif;
}

.logo {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo svg {
  max-width: 500px;
  height: auto;
}

.flyer {
  width: 80%;
  margin: 0 auto;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  line-height: 1.75;
  margin: 0 auto;
}

.content .main-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  max-width: 80%;
  min-width: 320px;
}

.content .divider {
  max-width: 500px;
  width: 75%;
  margin: 20px auto;
  height: 2px;
  border-radius: 120px;
  background: #f3f3f3;
}

.content .scan-img {
  margin: 30px;
  margin-top: 60px;
  width: 150px;
}

.content .contact {
  text-align: center;
}

.content .main-copy {
  max-width: 700px;
  margin: 0 auto;
}

.content .subtext {
  font-size: 14px;
  opacity: 0.8;
}

.content .sub-copy {
  text-transform: uppercase;
  text-align: center;
}

h1,
h2 {
  margin: 30px auto;
  margin-bottom: 0;
  text-align: center;
}

h3 {
  margin-bottom: 0;
}

h4 {
  margin-top: 0;
  font-weight: 400;
  opacity: 0.7;
}

.car-results {
  display: none;
}

.car-results.active {
  display: block;
  text-align: center;
}

.car-results.active h5 {
  display: none;
}

.car-offer {
  margin-top: 50px;
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.car-offer #cash-icon {
  opacity: 0;
}

.car-offer input[type=text] {
  width: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  background-color: white;
  padding: 10px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.car-offer input[type=submit] {
  padding: 13px 30px;
  background: black;
  color: white;
  font-weight: 700;
  position: relative;
  font-size: 16px;
  top: 0px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

.car-offer svg {
  margin: 0 auto;
  width: 150px;
  height: 150px;
}

.car-offer.offered #cash-icon {
  -webkit-animation: cashAnimation 1s ease-out forwards;
          animation: cashAnimation 1s ease-out forwards;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.car-offer.offered #car-icon {
  display: none;
}

.slider-carousel {
  width: 100%;
}

.slider-carousel img {
  width: 100%;
  height: 100%;
}

#pay-price {
  color: #85BB65;
  font-size: 26px;
  font-weight: 700;
  border-bottom: 2px solid #85BB65;
}

@media only screen and (max-width: 500px) {
  .car-offer {
    margin-top: 0;
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .car-offer input[type=text],
  .car-offer input[type=submit] {
    width: 100%;
  }
  .car-offer input[type=submit] {
    margin-top: 20px;
  }
}

@-webkit-keyframes cashAnimation {
  from {
    opacity: 0;
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 1;
  }
}

@keyframes cashAnimation {
  from {
    opacity: 0;
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 1;
  }
}

.slick-dots {
  position: relative !important;
  top: 30px;
  z-index: 90;
}

footer {
  text-align: center;
  padding-top: 20px;
}

.social-media ul {
  padding-left: 0;
}

.social-media li {
  list-style-type: none;
}

.social-media a {
  display: inline-block;
  padding: 10px 12.5px;
  border-radius: 120px;
  border: 2px solid black;
}

.social-media svg {
  width: 35px;
  height: 100%;
}
/*# sourceMappingURL=styles.css.map */